USE [ECommerce]
GO
/****** Object:  StoredProcedure [dbo].[Category_DropDown]    Script Date: 22-02-2024 21:19:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Category_DropDown]

AS
Select	[dbo].[Category].[CategoryID],
		[dbo].[Category].[CategoryName]

FROM [dbo].[Category]
GO
