USE [ECommerce]
GO
/****** Object:  StoredProcedure [dbo].[Address_SelectAll]    Script Date: 22-02-2024 21:19:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Address_SelectAll]
AS
SELECT 
[dbo].[Address].[AddressID]
FROM [dbo].[Address]
GO
